
# IntelliJ artifacts.
build
.idea/workspace.xml

# ANTLR artifacts.
src/org/pchapin/phoebe/*.class
src/org/pchapin/phoebe/PhoebeLexer.java
src/org/pchapin/phoebe/PhoebeLexer.tokens

# Downloaded libraries.
lib/*.jar
